@model IEnumerable<BarberStore.Core.Models.Announcements.AnnouncementViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<header>
    <div>
        <h1>Colore Delicato</h1>
        <p>Perfect for your hair</p>
    </div>
</header>
<div class="sections">
    <section class="news">
        <h3>News</h3>
        <ul>
            @foreach (var ann in Model)
            {
                <li>@ann.MainText</li>
            }
        </ul>
    </section>
    <div class="left">
        <section class="info">
            <h3>Who are we?</h3>
            <p>
                “Colore Delicato hair salon” specializes in women’s coloring, haircuts and hairstyles. We
                work with
                the best products on the professional market like System, Hempz, Kerastase and others. You
                can learn
                more in “About us”...
            </p>
        </section>
        <section class="promotions">
            <h3>Promotions</h3>
            <!-- Slideshow container -->
            <div class="slideshow-container">

                <!-- Full-width images with number and caption text -->
                <div class="mySlides fade">
                    <img src="~/img/Screenshot 2022-04-09 134427.jpg" style="width:100%">
                </div>
                <div class="mySlides fade">
                    <img src="~/img/kerastase-elixir-ultime-luxury-gift-set-for-shiny-hair.jpg" style="width:100%">
                </div>
                <div class="mySlides fade">
                    <img src="~/img/LOREAL0279372.jpg" style="width:100%">
                </div>

                <!-- Next and previous buttons -->
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
            <br>

            <!-- The dots/circles -->
            <div style="text-align:center">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
            </div>
        </section>
    </div>
    <section class="explore-store">
        <img src="~/img/LOREAL0279372.jpg" alt="">
        <div>
            <h2>Explore our store and check out all of our products!</h2>
            <a asp-controller="Store" asp-action="Explore">Store</a>
        </div>
    </section>
</div>
@section Scripts
{
    <script src="~/js/menu.js"></script>
    <script src="~/js/promotions.js"></script>
}
@section Css
{
    <link rel="stylesheet" href="~/css/Index-styles.css">
    <link rel="stylesheet" href="~/css/promotions.css">
}
