@{
    ViewData["Title"] = "Services";
}
<header>
    <h1>Services and Prices</h1>
</header>
<div class="services">
    <div class="service">
        <h3>Haircuts</h3>
        <p>Long hair - 30lv<br>Short hair - 20lv.</p>
    </div>
</div>
@section Css
{
    <link rel="stylesheet" href="~/css/services-styles.css">
}
