@model IEnumerable<BarberStore.Core.Models.Appointments.ServiceModel>
@{
    ViewData["Title"] = "Services";
}
<header>
    <h1>Services and Prices</h1>
</header>
<div class="services">
    @foreach (var service in Model)
    {
        <div class="service">
            <h3>@service.Name - @service.Price</h3>
            <p>@service.Description</p>
        </div>
    }
</div>
@section Css
{
    <link rel="stylesheet" href="~/css/services-styles.css">
}
