<div class="row">
    <div>
        <form method="post" enctype="multipart/form-data">
            <h3>Add service</h3>
                <label>Name</label>
            <input name="name" type="text" />

                <label>Price</label>
            <input name="price" type="number" step=".01"/>

                <label>Description</label>
            <input name="description" type="text" />

            <input asp-area="Administration" asp-controller="Content" asp-action="AddService" class="submit" type="submit" />
        </form>
    </div>
</div>
@section Css
{
    <link rel="stylesheet" href="~/css/manage-content.css">
}