<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/general.css">
    <link rel="stylesheet" href="~/css/profile-page.css">
    <link rel="stylesheet" href="~/css/table.css">
    @await RenderSectionAsync("Css", required: false)
    <title>@ViewData["Title"]</title>
</head>

<body>
<main>
    <a class="back" asp-area="" asp-controller="Manage" asp-action="Orders">&larr;</a>
    <div class="container">
        <nav>
            <ul>
                <a asp-area="Administration" asp-controller="Appointments" asp-action="Manage" is-selected="">
                    <li>
                        Manage Appointments
                    </li>
                </a>
                <a asp-area="Administration" asp-controller="Content" asp-action="ManageProducts" is-selected="">
                    <li>
                        Add Products
                    </li>
                </a>
                <a asp-area="Administration" asp-controller="Content" asp-action="ManageServices" is-selected="">
                    <li>
                        Add Services
                    </li>
                </a>
                <a asp-area="Administration" asp-controller="Content" asp-action="ManageAnnouncements" is-selected="">
                    <li>
                        Add Announcements
                    </li>
                </a>
                <a asp-area="Administration" asp-controller="Store" asp-action="Manage" is-selected="">
                    <li>
                        Manage Store
                    </li>
                </a>
            </ul>
        </nav>
        <div class="content-container">
            <div class="content">
                @RenderBody()
            </div>
        </div>
    </div>
</main>
@await RenderSectionAsync("Scripts", required: false)
</body>

</html>