h1 {
    color: var(--light-brown);
    text-align: center;
}

.finish {
    background-color: rgb(150, 248, 120);
    text-align: center;
    color: black;
    padding: 8px 20px;
    border-radius: 2px;
    transition: 0.3s;
}

.finish:hover {
    background-color: rgb(70, 248, 160);
    transition: 0.3s;
}