header {
    display: flex;
    padding: 50px 0px;
    background-color: rgb(255, 246, 234);
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.services{
    padding: 50px;
}

.service{
    margin-bottom: 25px;
}

.service h3{
    color: #685C57;
}

.service p{
    color: #8A7063;
}