<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/general.css">
    <link rel="stylesheet" href="~/css/layout-styles.css">
    @await RenderSectionAsync("Css", required: false)
</head>
<body>
        <nav>
            <ul>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index" is-selected="">Home</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="AboutUs" is-selected="">About Us</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Services" is-selected="">Services</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Store" asp-action="Explore" is-selected="">Store</a>
                </li>
            </ul>
            <partial name="_LoginPartial" />
            <a href="javascript:void(0);" class="icon" onclick="showMenu()">&#9776;</a>
        </nav>
    <main>
        <div class="content">
            @RenderBody()
        </div>
    </main>
    <footer>
        <p >
            &copy; 2022 - BarberStore.Web
        </p>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/menu.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
