@using Microsoft.AspNetCore.Identity
@using BarberStore.Infrastructure.Data.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    if (this.User.Identity.IsAuthenticated)
    {
        var user = await UserManager.GetUserAsync(this.User);
        this.ViewData["user"] = $"{user.FirstName} {user.LastName}";
    }
}

<ul class="right">
@if (SignInManager.IsSignedIn(User))
{
    <li>
        <a asp-area="" asp-controller="Cart" asp-action="Cart" title="Cart">Cart</a>
    </li>
    <li>
        <a asp-area="" asp-controller="Manage" asp-action="Orders" title="Manage">@ViewData["user"]</a>
    </li>
    <li>
        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit">Logout</button>
        </form>
    </li>
}
else
{
        <li><a asp-area="Identity" asp-page="/Account/Login">Login</a></li>
        <li><a asp-area="Identity" asp-page="/Account/Register">Register</a></li>
}
</ul>
