@model BarberStore.Web.Models.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1>Error.</h1><br/>
<h3>An error occurred while processing your request.</h3>

@if (Model?.ShowRequestId ?? false)
{
    <p>
        <strong>Request ID:</strong> <code>@Model?.RequestId</code>
    </p>
}
